.text{
    font-size: 15px;
}

.messageBoxContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages{
    height: 30vh;
    text-align: left;
    padding-left: 10px;
    /* width: ; */
    background-color: aliceblue;
    overflow-y: auto;
    border-radius: 10px;
    word-break: break-all;
    width: 700px;
    /* width: 50%; */
    /* inline-size: 30%; */
}

.message{
    font-size: 13px;
    color: black;
}

.input{
    width: 70ch;
}