.emotesContainer{
    background-color: rgb(112, 112, 112);
    border-radius: 10px;
    padding-inline: 14px;
    padding-bottom: 30px;

    /* width: 18%; */
}

.emoteRecord{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px;
    font-size: 20px;
}

.emotesTitle{
    margin: 0;
    margin-top: 15px;
}

